## PANDAS NOTES

### Pandas nedir?

##### Bize gelen veri seti üzerinde belirli analizler yapacağız. Kaggle gibi siteleri kullanabiliriz.

##### Terminale pip install pandas diyerek indiriyoruz.

In [1]:
import pandas as pd

pandas_series=pd.Series()  #tek boyutlu bir liste.
print(pandas_series)

Series([], dtype: object)

In [2]:
numbers=[20,30,40,50]
pandas_series=pd.Series(numbers) #pandas dünyasında bir seriye çevirdik.
print(pandas_series)

0    20
1    30
2    40
3    50
dtype: int64

In [3]:
letters=['a','b','c','d','e']
pandas_series=pd.Series(letters)
print(pandas_series)

0    a
1    b
2    c
3    d
4    e
dtype: object

#### homojen olmasına gerek yok. liste string ve integerlarla birlikte olabilir. bu numpy da geçersizklen pandas da mümkündür.

In [4]:
letters=['a','b','c','d',20]
pandas_series=pd.Series(letters)
print(pandas_series)

0     a
1     b
2     c
3     d
4    20
dtype: object

In [5]:
scalar=5
pandas_series=pd.Series(scalar)
print(pandas_series)

0    5
dtype: int64

In [6]:
pandas_series=pd.Series(5,[0,1,2,3]) # o indexlere 5i atar.
print(pandas_series)

0    5
1    5
2    5
3    5
dtype: int64

In [7]:
numbers=[20,30,40,50]
pandas_series=pd.Series(numbers,['a','b','c','d']) #key value gibi düşün. ikinci kısımdakiler key, numbers ise her bir key'in value değeri.
print(pandas_series)

a    20
b    30
c    40
d    50
dtype: int64

In [8]:
dict={'a':10, 'b':20, 'c':30 ,'d':40}
pandas_series=pd.Series(dict)
print(pandas_series)

a    10
b    20
c    30
d    40
dtype: int64

In [9]:
import numpy as np
import pandas as pd

random_numbers=np.random.randint(10,100,6)
pandas_series=pd.Series(random_numbers)
print(pandas_series)

0    45
1    49
2    48
3    91
4    22
5    98
dtype: int32

In [10]:
numbers=[20,30,40,50]
pandas_series=pd.Series(numbers,['a','b','c','d']) 

result= pandas_series[0]    #indexleri biz a b c d olarak değiştirdik fakat yine de 0 1 2 olarak sorgulayabiliriz.
result= pandas_series[-1]   #son eleman
result=pandas_series[:2]    #ilk 2 eleman
result=pandas_series[-2:]   #son 2 eleman
result=pandas_series['a']
result=pandas_series[['a','c']]


print(result)

a    20
c    40
dtype: int64

C:\Users\ravlu\AppData\Local\Temp\ipykernel_11376\579217427.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result= pandas_series[0]    #indexleri biz a b c d olarak değiştirdik fakat yine de 0 1 2 olarak sorgulayabiliriz.
C:\Users\ravlu\AppData\Local\Temp\ipykernel_11376\579217427.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result= pandas_series[-1]   #son eleman

In [11]:
result=pandas_series.ndim
result=pandas_series.dtype
result=pandas_series.shape
result=pandas_series.sum()
result=pandas_series.max()
result=pandas_series.min()
result=pandas_series.mean()
result =pandas_series+pandas_series
result =np.sqrt(pandas_series)
result =pandas_series >=50
result= pandas_series %2 == 0
print(result)

a    True
b    True
c    True
d    True
dtype: bool

#### örnek:

In [12]:
opel2018=pd.Series([20,30,40,10],["astra","corsa","mokka","insignia"])
opel2019=pd.Series([40,30,20,10],["astra","corsa","Grandland","insignia"])

total=opel2018+opel2019

print(total)
print(total["astra"])

Grandland     NaN
astra        60.0
corsa        60.0
insignia     20.0
mokka         NaN
dtype: float64
60.0

### Pandas Data Frames (Serieslerin birleşimi ile oluşur.)

In [13]:
import pandas as pd

seri1=pd.Series([3,2,1,0])
seri2=pd.Series([0,3,7,2])

data = {"apples" : seri1 , "oranges" : seri2 }

df = pd.DataFrame(data)

print(df)

   apples  oranges
0       3        0
1       2        3
2       1        7
3       0        2

In [14]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [15]:
df=pd.DataFrame([1,2,3,4])
print(df)

   0
0  1
1  2
2  3
3  4

#### liste şeklinde bir data ile df

In [16]:
data =[ ["Mehmet",100],["Aybala",98],["Zeynep",95] ]

df=pd.DataFrame(data,columns=["name","grades"],index=[1,2,3])

print(df)

     name  grades
1  Mehmet     100
2  Aybala      98
3  Zeynep      95

#### dict şeklinde bir data ile df

In [17]:
data = {"lecture names":["circuit","engineering math","probability","academic english"], 
        "akts":[7,6,5,3]
        }

df=pd.DataFrame(data,index=["EEE201","EEE221","EEE209","ENG201"]) #column tanımalaması yapmaya gerek yoktur.
print(df)

           lecture names  akts
EEE201           circuit     7
EEE221  engineering math     6
EEE209       probability     5
ENG201  academic english     3

In [18]:
dict_list=[{"lecture name":"circuit","succes rate":45},
           {"lecture name":"engineering math","succes rate":38},
           {"lecture name":"probability","succes rate":80},
           {"lecture name":"academic english","succes rate":70},
           ]

df= pd.DataFrame(dict_list,index=["EEE201","EEE221","EEE209","ENG201"])
print(df)

            lecture name  succes rate
EEE201           circuit           45
EEE221  engineering math           38
EEE209       probability           80
ENG201  academic english           70

### Pandas ile Farklı Dosya Tiplerinden Veri Okuma

In [19]:
import pandas as pd

df =pd.read_csv("netflix_titles.csv")
display(df)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [20]:
df= pd.read_json("myData.json")
print(df)

    names  age
0  Aybala   21
1  Zeynep   49
2  Mehmet   22
3   Cinar    2
4    Muge   40

### DataFrameler ile Çalışma

In [21]:
import pandas as pd
from numpy.random import randn

df= pd.DataFrame(randn(3,3),index=["A","B","C"],columns=["Column 1","Column 2","Column 3"])
print(df)

   Column 1  Column 2  Column 3
A  1.181553  0.126263  0.401442
B -1.048585 -0.595201  0.786897
C  1.033884 -0.610552 -0.864315

> satır ve sütun işlemleri

In [22]:
import pandas as pd
from numpy.random import randn

df= pd.DataFrame(randn(3,3),index=["A","B","C"],columns=["Column 1","Column 2","Column 3"])

result= df["Column 1"] #istenilen sutunu verdi
result=type(df["Column 1"])
result= df[["Column 1","Column 2"]] #birden fazla sütun verırken liste olarak verilir.


result=df.loc["A"]
result=type(df.loc["A"])
# loc[row x : row y , column w : column q]
# loc["row","column"] => loc["row"] =>loc[":","column"]
result= df.loc[:,"Column 1"] 
result=df.loc[:,["Column 1","Column 2"]]
result=df.loc[:,"Column 1":"Column 3"] #column 1 ıle column 3 arasındakı columnları ıstıyorum
result=df.loc[:,:"Column 3"] 
result=df.loc["A":"C",:]

result=df.loc["A":"C","Column 1"]
result=df.loc["A","Column 1"]
result=df.loc[:"B","Column 1":"Column 3"]
result=df.loc[["A","B"],["Column 1","Column 2"]]
print(result)

   Column 1  Column 2
A  0.732108  0.635731
B -0.664737 -0.536433

> satır ve sütun ekleme

In [23]:
import pandas as pd
from numpy.random import randn

df= pd.DataFrame(randn(3,3),index=["A","B","C"],columns=["Column 1","Column 2","Column 3"])

df["Column 4"] =pd.Series(randn(3),index=["A","B","C"])
df["Column 5"] =df["Column 1"]+df["Column 3"]

df.drop("Column 5",axis=1,inplace=True) #column 5'i y eksenı boyunca sil
df.drop("A",axis=0,inplace=True)# row A yı x ekseni boyunca sil
print(df)

   Column 1  Column 2  Column 3  Column 4
B  0.027111 -0.804872  0.753852  1.716673
C  0.185817  0.782490  0.324354  1.168232

### DataFrame Filtreleme

In [24]:
import pandas as pd
import numpy as np

data =np.random.randint(10,100,75).reshape(15,5)
df= pd.DataFrame(data,columns=["Column1","Column2","Column3","Column4","Column5"])

print(df)

    Column1  Column2  Column3  Column4  Column5
0        87       94       63       87       30
1        79       85       32       56       51
2        74       73       48       46       88
3        77       87       20       71       50
4        85       44       37       59       39
5        45       25       14       53       86
6        50       19       79       45       19
7        19       81       71       40       33
8        31       43       59       67       50
9        23       61       37       33       58
10       81       39       45       20       86
11       46       93       18       80       51
12       97       49       36       95       48
13       52       78       79       73       39
14       78       68       39       37       76

> dataframe üzerinde parçalama işlemleri

In [25]:
import pandas as pd
import numpy as np

data =np.random.randint(10,100,75).reshape(15,5)
df= pd.DataFrame(data,columns=["Column1","Column2","Column3","Column4","Column5"])

result=df.columns #df içindeki tüm column isimlerini sana verir
result=df.head() #ilk 5 satırın verileri gelir
result=df.head(10) #ilk 10 satırın verileri gelir
result=df.tail() #son 5 satırın verilerini getirir
result=df.tail(7) #son 7 satırın verilerini getirir
result=df["Column1"].head() #ilk 5 satırın column1 verilerini getirir
result=df.Column1.head() #üstteki ile aynı işlevde
result=df[["Column1","Column2"]].head()
result=df[5:15][["Column1","Column2"]]

print(result)

    Column1  Column2
5        59       75
6        84       91
7        17       69
8        42       56
9        27       71
10       87       76
11       43       65
12       16       17
13       86       93
14       13       17

>filtreleme

In [26]:
import pandas as pd
import numpy as np

data =np.random.randint(10,100,75).reshape(15,5)
df= pd.DataFrame(data,columns=["Column1","Column2","Column3","Column4","Column5"])

result= df>50
result= df[df>50]
result=df[df%2==0]
result=df["Column1"] > 50
result= df[(df["Column1"] >50) & (df["Column1"] <= 70)]["Column1"]
result= df[(df["Column1"] >30) | (df["Column2"] <= 50)][["Column1","Column2"]]
result=df.query("Column1>=50 & Column2 > 80")[["Column1","Column2"]] #şartlar için kullanım sunar

print(result)

    Column1  Column2
8        61       84
14       84       94

#### Uygulama: imdb Veri Analizi

In [27]:
import pandas as pd
import numpy as np

df=pd.read_csv("imdb.csv")
print(df.columns)

Index(['Movie_Title', 'YR_Released', 'Rating', 'Num_Reviews', 'Movie_ID',
       'Record', 'Runtime'],
      dtype='object')

In [28]:
result=df.head() 
result=df.head(10)
result=df.tail()
result=df.tail(10)
print(result)

                                           Movie_Title  YR_Released  Rating  \
840                                           The Help         2011     8.0
841                               Beauty and the Beast         1991     8.0
842                                  Dog Day Afternoon         1975     8.0
843                              The Battle of Algiers         1966     8.0
844                               In the Mood for Love         2000     8.0
845  Pirates of the Caribbean: The Curse of the Bla...         2003     8.0
846                   What Ever Happened to Baby Jane?         1962     8.0
847                                       Paris, Texas         1984     8.0
848                                           Drishyam         2015     8.0
849                                                 PK         2014     8.0

     Num_Reviews   Movie_ID          Record  Runtime
840       345567  tt1454029  Top 250 Movies    146.0
841       337665  tt0101414  Top 250 Movies     84.0
842       195760  tt0072890  Top 250 Movies    125.0
843        41317  tt0058946  Top 250 Movies    121.0
844        84318  tt0118694  Top 250 Movies     98.0
845       872441  tt0325980  Top 250 Movies    143.0
846        37906  tt0056687  Top 250 Movies    134.0
847        55587  tt0087884  Top 250 Movies    145.0
848        40777  tt4430212  Top 250 Movies    163.0
849       106375  tt2338151  Top 250 Movies    153.0

In [29]:
result=df["Movie_Title"].head()
result=df[["Movie_Title","Rating"]].head()
result=df[["Movie_Title","Rating"]].tail(7)
result=df[5:10][["Movie_Title","Rating"]]
result=df.query("Rating>= 8.0")[["Movie_Title","Rating"]].head(50)
result=df.query("YR_Released<=2015 & YR_Released>=2014")[["Movie_Title","YR_Released"]]
result=df.query("Num_Reviews>= 100000 | (Rating<=9 & Rating>=8)")[["Movie_Title","Num_Reviews","Rating"]]
print(result)

                                           Movie_Title  Num_Reviews  Rating
100                           The Shawshank Redemption      1829037     9.2
101                                      The Godfather      1249333     9.2
102                             The Godfather: Part II       860228     9.0
103                                    The Dark Knight      1808543     9.0
104                                       12 Angry Men       497242     8.9
..                                                 ...          ...     ...
845  Pirates of the Caribbean: The Curse of the Bla...       872441     8.0
846                   What Ever Happened to Baby Jane?        37906     8.0
847                                       Paris, Texas        55587     8.0
848                                           Drishyam        40777     8.0
849                                                 PK       106375     8.0

[573 rows x 3 columns]

### DataFrame Groupby

In [30]:
import pandas as pd

personeller = {
    'Çalışan': ['Ahmet Yılmaz','Can Ertürk','Hasan Korkmaz','Cenk Saymaz','Ali Turan','Rıza Ertürk','Mustafa Can'],
    'Departman': ['İnsan Kaynakları','Bilgi İşlem','Muhasebe','İnsan Kaynakları','Bilgi İşlem','Muhasebe','İnsan Kaynakları'],
    'Yaş': [30,25,45,50,23,34,42],
    'Semt': ['Kadıköy','Tuzla','Maltepe','Tuzla','Maltepe','Tuzla','Kadıköy'],
    'Maaş': [5000,3000,4000,3500,2750,6500,4500]
}

df=pd.DataFrame(personeller)
print(df)

         Çalışan         Departman  Yaş     Semt  Maaş
0   Ahmet Yılmaz  İnsan Kaynakları   30  Kadıköy  5000
1     Can Ertürk       Bilgi İşlem   25    Tuzla  3000
2  Hasan Korkmaz          Muhasebe   45  Maltepe  4000
3    Cenk Saymaz  İnsan Kaynakları   50    Tuzla  3500
4      Ali Turan       Bilgi İşlem   23  Maltepe  2750
5    Rıza Ertürk          Muhasebe   34    Tuzla  6500
6    Mustafa Can  İnsan Kaynakları   42  Kadıköy  4500

In [31]:
result= df["Maaş"].sum()
result=df.groupby("Departman").groups
result=df.groupby(["Departman","Semt"]).groups
print(result)

{('Bilgi İşlem', 'Maltepe'): [4], ('Bilgi İşlem', 'Tuzla'): [1], ('Muhasebe', 'Maltepe'): [2], ('Muhasebe', 'Tuzla'): [5], ('İnsan Kaynakları', 'Kadıköy'): [0, 6], ('İnsan Kaynakları', 'Tuzla'): [3]}

In [32]:
semtler= df.groupby("Semt")
for name,group in semtler:
    print(name)
    print(group)

Kadıköy
        Çalışan         Departman  Yaş     Semt  Maaş
0  Ahmet Yılmaz  İnsan Kaynakları   30  Kadıköy  5000
6   Mustafa Can  İnsan Kaynakları   42  Kadıköy  4500
Maltepe
         Çalışan    Departman  Yaş     Semt  Maaş
2  Hasan Korkmaz     Muhasebe   45  Maltepe  4000
4      Ali Turan  Bilgi İşlem   23  Maltepe  2750
Tuzla
       Çalışan         Departman  Yaş   Semt  Maaş
1   Can Ertürk       Bilgi İşlem   25  Tuzla  3000
3  Cenk Saymaz  İnsan Kaynakları   50  Tuzla  3500
5  Rıza Ertürk          Muhasebe   34  Tuzla  6500

In [33]:
result=df.groupby("Semt").get_group("Kadıköy")  #diyorsun ki semtlere göre grupla ve kadıköy grubunu getir
print(result)

        Çalışan         Departman  Yaş     Semt  Maaş
0  Ahmet Yılmaz  İnsan Kaynakları   30  Kadıköy  5000
6   Mustafa Can  İnsan Kaynakları   42  Kadıköy  4500

In [34]:
result=df.groupby("Departman").mean(numeric_only=True)
result=df.groupby("Departman").mean(numeric_only=True)["Yaş"]
print(result)

Departman
Bilgi İşlem         24.000000
Muhasebe            39.500000
İnsan Kaynakları    40.666667
Name: Yaş, dtype: float64

In [35]:
result=df.groupby("Semt")["Çalışan"].count()
print(result)

Semt
Kadıköy    2
Maltepe    2
Tuzla      3
Name: Çalışan, dtype: int64

In [36]:
result=df.groupby("Departman")["Yaş"].max()
print(result)

Departman
Bilgi İşlem         25
Muhasebe            45
İnsan Kaynakları    50
Name: Yaş, dtype: int64

In [37]:
result=df.groupby("Departman")["Yaş"].max()["Muhasebe"]
print(result)

45

In [38]:
import numpy as np

result=df.groupby("Departman")[["Yaş","Maaş"]].agg(np.mean)
print(result)

                        Yaş         Maaş
Departman
Bilgi İşlem       24.000000  2875.000000
Muhasebe          39.500000  5250.000000
İnsan Kaynakları  40.666667  4333.333333

C:\Users\ravlu\AppData\Local\Temp\ipykernel_11376\2932463491.py:3: FutureWarning: The provided callable <function mean at 0x000001F4C2836840> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  result=df.groupby("Departman")[["Yaş","Maaş"]].agg(np.mean)

### Pandas ile Kayıp ve Bozuk Veri Analizi

In [39]:
import pandas as pd
import numpy as np
data=np.random.randint(10,100,15).reshape(5,3)
df=pd.DataFrame(data,index=["a","c","e","f","h"],columns=["column1","column2","column3"])
df=df.reindex(["a","b","c","d","e","f","g","h"])
print(df)

   column1  column2  column3
a     80.0     69.0     12.0
b      NaN      NaN      NaN
c     83.0     95.0     45.0
d      NaN      NaN      NaN
e     50.0     14.0     90.0
f     48.0     23.0     74.0
g      NaN      NaN      NaN
h     60.0     96.0     34.0

> column silerken

In [40]:
result=df.drop("column1",axis=1) #column silerken axis=1 şart.
print(result)

   column2  column3
a     69.0     12.0
b      NaN      NaN
c     95.0     45.0
d      NaN      NaN
e     14.0     90.0
f     23.0     74.0
g      NaN      NaN
h     96.0     34.0

In [41]:
result=df.drop(["column1","column2"],axis=1)
print(result)

   column3
a     12.0
b      NaN
c     45.0
d      NaN
e     90.0
f     74.0
g      NaN
h     34.0

> row silerken

In [42]:
result=df.drop("a",axis=0) #row silerken axis=0 şarttır.
print(result)

   column1  column2  column3
b      NaN      NaN      NaN
c     83.0     95.0     45.0
d      NaN      NaN      NaN
e     50.0     14.0     90.0
f     48.0     23.0     74.0
g      NaN      NaN      NaN
h     60.0     96.0     34.0

In [43]:
result=df.drop(["a","e"],axis=0) 
print(result)

   column1  column2  column3
b      NaN      NaN      NaN
c     83.0     95.0     45.0
d      NaN      NaN      NaN
f     48.0     23.0     74.0
g      NaN      NaN      NaN
h     60.0     96.0     34.0

>NaN olanları tespit etme ve silme

In [44]:
result= df.isnull()
print(result)

   column1  column2  column3
a    False    False    False
b     True     True     True
c    False    False    False
d     True     True     True
e    False    False    False
f    False    False    False
g     True     True     True
h    False    False    False

In [45]:
result= df.notnull()
print(result)

   column1  column2  column3
a     True     True     True
b    False    False    False
c     True     True     True
d    False    False    False
e     True     True     True
f     True     True     True
g    False    False    False
h     True     True     True

In [46]:
result= df.isnull().sum() #nan kaç tane olduğu öğrenmek için
print(result)

column1    3
column2    3
column3    3
dtype: int64

In [47]:
result= df["column1"].isnull().sum()
print(result)

3

In [48]:
newColumn=[np.nan,30,np.nan,51,np.nan,30,np.nan,10]
df["column4"]=newColumn

print(df)

   column1  column2  column3  column4
a     80.0     69.0     12.0      NaN
b      NaN      NaN      NaN     30.0
c     83.0     95.0     45.0      NaN
d      NaN      NaN      NaN     51.0
e     50.0     14.0     90.0      NaN
f     48.0     23.0     74.0     30.0
g      NaN      NaN      NaN      NaN
h     60.0     96.0     34.0     10.0

In [49]:
result=df[df["column1"].isnull()]["column1"] #sadece column1deki nullalra ulaşmak için en sona bu şekilde yazılması gerekir. yoksa tüm columnları verir.
print(result)

b   NaN
d   NaN
g   NaN
Name: column1, dtype: float64

In [50]:
result=df[df["column1"].notnull()]["column1"]
print(result)

a    80.0
c    83.0
e    50.0
f    48.0
h    60.0
Name: column1, dtype: float64

In [51]:
result=df.dropna() #tüm nan ları kaldırır. axis=0 olarak çalışır,nan barındıran satırları siler
print(result)

   column1  column2  column3  column4
f     48.0     23.0     74.0     30.0
h     60.0     96.0     34.0     10.0

In [52]:
result=df.dropna(how="any") #herhangi bir nan değer bulursa onu siler.
print(result)

   column1  column2  column3  column4
f     48.0     23.0     74.0     30.0
h     60.0     96.0     34.0     10.0

In [53]:
result=df.dropna(how="all") #tüm satır eger nan ise siler.
print(result)

   column1  column2  column3  column4
a     80.0     69.0     12.0      NaN
b      NaN      NaN      NaN     30.0
c     83.0     95.0     45.0      NaN
d      NaN      NaN      NaN     51.0
e     50.0     14.0     90.0      NaN
f     48.0     23.0     74.0     30.0
h     60.0     96.0     34.0     10.0

In [54]:
result=df.dropna(subset=["column1","column2"],how="any") #istenilen columnlardaki nan ları kaldırmak ıcın
print(result)

   column1  column2  column3  column4
a     80.0     69.0     12.0      NaN
c     83.0     95.0     45.0      NaN
e     50.0     14.0     90.0      NaN
f     48.0     23.0     74.0     30.0
h     60.0     96.0     34.0     10.0

In [55]:
result=df.dropna(thresh=2) #en az içinde 2 kayıt olanı silme! anlamına gelir.
print(result)

   column1  column2  column3  column4
a     80.0     69.0     12.0      NaN
c     83.0     95.0     45.0      NaN
e     50.0     14.0     90.0      NaN
f     48.0     23.0     74.0     30.0
h     60.0     96.0     34.0     10.0

In [56]:
result=df.fillna("no input") #nan ları value değeri ile doldurulur
result=df.fillna(1) #nan ları value değeri ile doldurulur
print(result)

   column1  column2  column3  column4
a     80.0     69.0     12.0      1.0
b      1.0      1.0      1.0     30.0
c     83.0     95.0     45.0      1.0
d      1.0      1.0      1.0     51.0
e     50.0     14.0     90.0      1.0
f     48.0     23.0     74.0     30.0
g      1.0      1.0      1.0      1.0
h     60.0     96.0     34.0     10.0

>nan elemanları mean ile doldurma

In [57]:
#eleman sayısı = tüm tablodaki eleman sayisi(32) -nan değerlerin sayısı(13)
ElemanSayisi = df.size - df.isnull().sum().sum()
Toplam= df.sum().sum()
print(Toplam)

def meanValue(df):
    return Toplam/ElemanSayisi

result=df.fillna(value = meanValue(df))
print(result)

994.0
     column1    column2    column3    column4
a  80.000000  69.000000  12.000000  52.315789
b  52.315789  52.315789  52.315789  30.000000
c  83.000000  95.000000  45.000000  52.315789
d  52.315789  52.315789  52.315789  51.000000
e  50.000000  14.000000  90.000000  52.315789
f  48.000000  23.000000  74.000000  30.000000
g  52.315789  52.315789  52.315789  52.315789
h  60.000000  96.000000  34.000000  10.000000

### Pandas ile String Fonksiyonları

In [58]:
import pandas as pd
data =pd.read_csv("nba.csv")
display(data)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
data.dropna(inplace=True) #data içerisindeki nan değerleri silinir. data=data.dropna() dememize gerek kalmadı inplace=True ifadesini kullanarak.

In [60]:
print(data.columns)

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [61]:
data["Name"]=data["Name"].str.upper() #tüm name lar büyük harfler yazılır
print(data["Name"].head(10))

0       AVERY BRADLEY
1         JAE CROWDER
3         R.J. HUNTER
6       JORDAN MICKEY
7        KELLY OLYNYK
8        TERRY ROZIER
9        MARCUS SMART
10    JARED SULLINGER
11      ISAIAH THOMAS
12        EVAN TURNER
Name: Name, dtype: object

In [62]:
data["Name"]=data["Name"].str.lower() #tüm name lar küçük harfler yazılır
print(data["Name"].head(10))

0       avery bradley
1         jae crowder
3         r.j. hunter
6       jordan mickey
7        kelly olynyk
8        terry rozier
9        marcus smart
10    jared sullinger
11      isaiah thomas
12        evan turner
Name: Name, dtype: object

In [63]:
data["index"]=data["Name"].str.find('a') #a karakterinin name içinde arar ve olanlarını indexini verir

print(data["Name"].head(10))

0       avery bradley
1         jae crowder
3         r.j. hunter
6       jordan mickey
7        kelly olynyk
8        terry rozier
9        marcus smart
10    jared sullinger
11      isaiah thomas
12        evan turner
Name: Name, dtype: object

In [64]:
data= data[data["Name"].str.contains("jordan")]
print(data["Name"])

6        jordan mickey
98      deandre jordan
110    jordan clarkson
175       jordan mcrae
201        jordan hill
257       jordan adams
289    jordan hamilton
Name: Name, dtype: object

In [65]:
data = data["Team"].str.replace(" ","-")
print(data)

6            Boston-Celtics
98     Los-Angeles-Clippers
110      Los-Angeles-Lakers
175     Cleveland-Cavaliers
201          Indiana-Pacers
257       Memphis-Grizzlies
289    New-Orleans-Pelicans
Name: Team, dtype: object

### DataFrame ile Join ve Merge

In [66]:
import pandas as pd
customers ={"CustomerId":[1,2,3,4],
            "FirstName":["Ahmet","Ali","Hasan","Canan"],
            "LastName":["Yılmaz","Korkmaz","Çelik","Toprak"]
}

orders ={"OrderId":[10,11,12,13],
         "CustomerId":[1,2,5,7],
         "OrderDate":["2010-07-04","2010-08-04","2010-07-07","2012-07-04"]
}

df_customers = pd.DataFrame(customers,columns=["CustomerId","FirstName","LastName"])

df_orders = pd.DataFrame(orders,columns=["OrderId","CustomerId","OrderDate"])

print(df_customers)
print(df_orders)

   CustomerId FirstName LastName
0           1     Ahmet   Yılmaz
1           2       Ali  Korkmaz
2           3     Hasan    Çelik
3           4     Canan   Toprak
   OrderId  CustomerId   OrderDate
0       10           1  2010-07-04
1       11           2  2010-08-04
2       12           5  2010-07-07
3       13           7  2012-07-04

In [67]:
result= pd.merge(df_customers,df_orders,how="inner")
print(result)

   CustomerId FirstName LastName  OrderId   OrderDate
0           1     Ahmet   Yılmaz       10  2010-07-04
1           2       Ali  Korkmaz       11  2010-08-04

In [68]:
result= pd.merge(df_customers,df_orders,how="left") #tüm müşteriler gelsin ancak siparişi olmayan müşterilerde gelsin
print(result)

   CustomerId FirstName LastName  OrderId   OrderDate
0           1     Ahmet   Yılmaz     10.0  2010-07-04
1           2       Ali  Korkmaz     11.0  2010-08-04
2           3     Hasan    Çelik      NaN         NaN
3           4     Canan   Toprak      NaN         NaN

In [69]:
result= pd.merge(df_customers,df_orders,how="right") #tüm siparişler gelsin ancak müşteri ismi olmayanlar da gelsin
print(result)

   CustomerId FirstName LastName  OrderId   OrderDate
0           1     Ahmet   Yılmaz       10  2010-07-04
1           2       Ali  Korkmaz       11  2010-08-04
2           5       NaN      NaN       12  2010-07-07
3           7       NaN      NaN       13  2012-07-04

In [70]:
import pandas as pd
customersA ={"CustomerId":[1,2,3,4],
            "FirstName":["Ahmet","Ali","Hasan","Canan"],
            "LastName":["Yılmaz","Korkmaz","Çelik","Toprak"]
}

customersB ={"CustomerId":[4,5,6,7],
            "FirstName":["Yağmur","Çınar","Cengiz","Can"],
            "LastName":["Korkut","Özkaya","Yılmaz","Turan"]
}

df_customersA = pd.DataFrame(customersA,columns=["CustomerId","FirstName","LastName"])
df_customersB = pd.DataFrame(customersB,columns=["CustomerId","FirstName","LastName"])


result = pd.concat([df_customersA,df_customersB])
print(result)

   CustomerId FirstName LastName
0           1     Ahmet   Yılmaz
1           2       Ali  Korkmaz
2           3     Hasan    Çelik
3           4     Canan   Toprak
0           4    Yağmur   Korkut
1           5     Çınar   Özkaya
2           6    Cengiz   Yılmaz
3           7       Can    Turan

### Pandas ile DataFrame Metodları

In [71]:
import pandas as pd
import numpy as np

data = {"Column1":[1,2,3,4,5],
        "Column2":[10,20,13,13,25],
        "Column3":["abc","bcia","ade","cba","dea"],
}

df = pd.DataFrame(data)
print(df)

   Column1  Column2 Column3
0        1       10     abc
1        2       20    bcia
2        3       13     ade
3        4       13     cba
4        5       25     dea

In [72]:
result = df["Column2"].unique() #column2deki farklı içerikleri verir.
print(result)

[10 20 13 25]

In [73]:
number = df["Column2"].nunique() ##column2deki kaç farklı şey oldugunu verir.
print(number)

4

In [74]:
number = df["Column2"].value_counts() #elemanların kaç kere tekrarlandığını verir.
print(number)

Column2
13    2
10    1
20    1
25    1
Name: count, dtype: int64

In [75]:
def kareAl(x):
    return x*x

result = df["Column1"].apply(kareAl) #bir fonksiyon uygulamak için apply kullanılır.
print(result)

0     1
1     4
2     9
3    16
4    25
Name: Column1, dtype: int64

In [76]:
kareal2 = lambda x: x*x

result = df["Column1"].apply(kareal2)
print(result)

0     1
1     4
2     9
3    16
4    25
Name: Column1, dtype: int64

In [77]:
result = df["Column3"].apply(len) #column3 de yer alan string verilerin her birinin uzunluğu(karakter sayısı)
print(result)

0    3
1    4
2    3
3    3
4    3
Name: Column3, dtype: int64

In [78]:
df["Column4"] =  df["Column3"].apply(len)
print(df.columns )

Index(['Column1', 'Column2', 'Column3', 'Column4'], dtype='object')

In [79]:
result=df.sort_values("Column2") 
print(result)

   Column1  Column2 Column3  Column4
0        1       10     abc        3
2        3       13     ade        3
3        4       13     cba        3
1        2       20    bcia        4
4        5       25     dea        3

In [80]:
result=df.sort_values("Column3") #stringlerden oluştuğu için alfabetik sıraya göre sıralar
print(result)

   Column1  Column2 Column3  Column4
0        1       10     abc        3
2        3       13     ade        3
1        2       20    bcia        4
3        4       13     cba        3
4        5       25     dea        3

In [81]:
result=df.sort_values("Column2",ascending=False) #çoktan aza sıralar.
print(result)

   Column1  Column2 Column3  Column4
4        5       25     dea        3
1        2       20    bcia        4
2        3       13     ade        3
3        4       13     cba        3
0        1       10     abc        3

### Uygulama: NBA Verileri

In [82]:
import pandas as pd
import numpy as np

data = pd.read_csv("nba.csv")
df=pd.DataFrame(data)

result= df.head(10) #ilk 10 kaydı görüntüle
result =len(df) #toplam kaç kayıt var
result = df["Salary"].mean() #tüm oyuncuların maaş ortalaması
print(result)

4842684.105381166

In [83]:
result = df["Salary"].max() #en yüksek maaş nedir
WhoHasTheHighestSalary=df[df["Salary"]==result]["Name"] #df içerisinden df kolonunda en yüksek maaşa sahip olan satırı getirdik ve bu saturun name kolonundaki değerini aldık.
print(result)
print(WhoHasTheHighestSalary)

25000000.0
109    Kobe Bryant
Name: Name, dtype: object

In [84]:
result = df.query("Age>=20 & Age<=25")[["Age","Name","Team"]].head(20) #yaşı 20-25 arasında olan oyuncuların isim ve oynadıkları takımları azalan şekilde sırala
print(result)

     Age                     Name             Team
0   25.0            Avery Bradley   Boston Celtics
1   25.0              Jae Crowder   Boston Celtics
3   22.0              R.J. Hunter   Boston Celtics
6   21.0            Jordan Mickey   Boston Celtics
7   25.0             Kelly Olynyk   Boston Celtics
8   22.0             Terry Rozier   Boston Celtics
9   22.0             Marcus Smart   Boston Celtics
10  24.0          Jared Sullinger   Boston Celtics
13  20.0              James Young   Boston Celtics
16  24.0             Markel Brown    Brooklyn Nets
18  21.0  Rondae Hollis-Jefferson    Brooklyn Nets
20  22.0           Sergey Karasev    Brooklyn Nets
22  23.0             Shane Larkin    Brooklyn Nets
24  21.0         Chris McCullough    Brooklyn Nets
26  25.0          Thomas Robinson    Brooklyn Nets
32  23.0   Thanasis Antetokounmpo  New York Knicks
35  25.0         Cleanthony Early  New York Knicks
36  24.0        Langston Galloway  New York Knicks
37  23.0             Jerian Grant  New York Knicks
40  20.0       Kristaps Porzingis  New York Knicks

In [85]:
result=df[df["Name"]=="John Holland"]["Team"] #"John Holland" isimli oyuncunun oynadığı takım hangisidir?
print(result)

2    Boston Celtics
Name: Team, dtype: object

In [86]:
result = df.groupby("Team")["Salary"].mean() #takımlara göre oyuncuların ortalama maaş bilgisi
print(result)

Team
Atlanta Hawks             4.860197e+06
Boston Celtics            4.181505e+06
Brooklyn Nets             3.501898e+06
Charlotte Hornets         5.222728e+06
Chicago Bulls             5.785559e+06
Cleveland Cavaliers       7.642049e+06
Dallas Mavericks          4.746582e+06
Denver Nuggets            4.294424e+06
Detroit Pistons           4.477884e+06
Golden State Warriors     5.924600e+06
Houston Rockets           5.018868e+06
Indiana Pacers            4.450122e+06
Los Angeles Clippers      6.323643e+06
Los Angeles Lakers        4.784695e+06
Memphis Grizzlies         5.467920e+06
Miami Heat                6.347359e+06
Milwaukee Bucks           4.350220e+06
Minnesota Timberwolves    4.593054e+06
New Orleans Pelicans      4.355304e+06
New York Knicks           4.581494e+06
Oklahoma City Thunder     6.251020e+06
Orlando Magic             4.297248e+06
Philadelphia 76ers        2.213778e+06
Phoenix Suns              4.229676e+06
Portland Trail Blazers    3.220121e+06
Sacramento Kings          4.778911e+06
San Antonio Spurs         5.629516e+06
Toronto Raptors           4.741174e+06
Utah Jazz                 4.204006e+06
Washington Wizards        5.088576e+06
Name: Salary, dtype: float64

In [87]:
print(df["Team"].nunique()) #kaç farklı takım mevcut
print(df.groupby("Team").size().sort_values(ascending=False)) #her takımda kaç oyuncu oynamaktadır // df["Team"].value_counts() ile de olabilir.

30
Team
New Orleans Pelicans      19
Memphis Grizzlies         18
New York Knicks           16
Milwaukee Bucks           16
Atlanta Hawks             15
Utah Jazz                 15
Toronto Raptors           15
San Antonio Spurs         15
Sacramento Kings          15
Portland Trail Blazers    15
Phoenix Suns              15
Philadelphia 76ers        15
Oklahoma City Thunder     15
Boston Celtics            15
Miami Heat                15
Los Angeles Lakers        15
Los Angeles Clippers      15
Indiana Pacers            15
Houston Rockets           15
Golden State Warriors     15
Detroit Pistons           15
Denver Nuggets            15
Dallas Mavericks          15
Cleveland Cavaliers       15
Chicago Bulls             15
Charlotte Hornets         15
Brooklyn Nets             15
Washington Wizards        15
Minnesota Timberwolves    14
Orlando Magic             14
dtype: int64

In [88]:
#ismi içinde "and"geçen kayıtları bulunuz.
df.dropna(inplace=True) #içinde nan olanları kaldırmazsak alt satır hata verir
result = df[df["Name"].str.contains("and")]
print(result)

                 Name                    Team  Number Position   Age Height  \
52        Carl Landry      Philadelphia 76ers     7.0       PF  32.0    6-9
87       Brandon Rush   Golden State Warriors     4.0       SF  30.0    6-6
94     Branden Dawson    Los Angeles Clippers    22.0       SF  23.0    6-6
106      Brandon Bass      Los Angeles Lakers     2.0       PF  31.0    6-8
115     Julius Randle      Los Angeles Lakers    30.0       PF  21.0    6-9
127    Brandon Knight            Phoenix Suns     3.0       PG  24.0    6-3
149     Eric Moreland        Sacramento Kings    25.0       PF  24.0   6-10
238  Chandler Parsons        Dallas Mavericks    25.0       SF  27.0   6-10
271     Zach Randolph       Memphis Grizzlies    50.0       PF  34.0    6-9
274    Brandan Wright       Memphis Grizzlies    34.0       PF  28.0   6-10
291   Orlando Johnson    New Orleans Pelicans     0.0       SG  27.0    6-5
386   Wilson Chandler          Denver Nuggets    21.0       SF  29.0    6-8
415        Randy Foye   Oklahoma City Thunder     6.0       SG  32.0    6-4
427   Cliff Alexander  Portland Trail Blazers    34.0       PF  20.0    6-8

     Weight           College      Salary
52    248.0            Purdue   6500000.0
87    220.0            Kansas   1270964.0
94    225.0    Michigan State    525093.0
106   250.0               LSU   3000000.0
115   250.0          Kentucky   3132240.0
127   189.0          Kentucky  13500000.0
149   238.0      Oregon State    845059.0
238   230.0           Florida  15361500.0
271   260.0    Michigan State   9638555.0
274   210.0    North Carolina   5464000.0
291   220.0  UC Santa Barbara     55722.0
386   225.0            DePaul  10449438.0
415   213.0         Villanova   3135000.0
427   240.0            Kansas    525093.0

### Uygulama: YouTube İstatistik Verilerinin Analizi

In [89]:
import pandas as pd
data = pd.read_csv("youtube-ing.csv")
df=pd.DataFrame(data)

In [90]:
result=df.head(10) #ilk 10 kaydı getirin
result = df[5:10].head(5) #ikinci 5 kaydı getirin
resultt = df.columns #dataset bulunan kolonları bulun
result = df.columns.size #bulunan kolonların sayısını bulun
print(resultt)

Index(['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count',
       'thumbnail_link', 'comments_disabled', 'ratings_disabled',
       'video_error_or_removed', 'description'],
      dtype='object')

In [91]:
#bazı kolonları(thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed, description) silin ve kalan klolonları listeleyin
df.drop(['thumbnail_link','comments_disabled','ratings_disabled','video_error_or_removed', 'description'],axis=1,inplace=True)
print(df.columns)

Index(['video_id', 'trending_date', 'title', 'channel_title', 'category_id',
       'publish_time', 'tags', 'views', 'likes', 'dislikes', 'comment_count'],
      dtype='object')

In [92]:
meanLike = df["likes"].mean() #like ve dislike ortalamalarını bulun
meanDislike = df["dislikes"].mean()
print(f"{meanLike},{meanDislike}")

134519.55349984582,7612.559975331483

In [93]:
result = df[["likes","dislikes"]].head(50) #ilk 50 videonun like ve dislike sayılarını getirin
print(result)

      likes  dislikes
0     55681     10247
1     25561      2294
2    787420     43420
3       193        12
4        30         2
5     52708      1431
6   1634124     21082
7     57309       749
8      2163       147
9    190084     15015
10     9591       266
11     1746       125
12    37986       816
13     8133      2693
14    98804     11682
15    12553      2146
16    22326       833
17   286269      4083
18   202676      3394
19    72593      1830
20    10028       248
21   263918      1502
22   207262      3167
23    25115       499
24     4577       292
25    52829      1524
26      629        77
27     5029        81
28   307435      2573
29      399        14
30     5364       153
31     7999        84
32    84426      1130
33     1881       182
34      240        16
35   126078     10294
36       33         6
37     1267        38
38     4604        46
39    53572       168
40     4935       177
41    19323       245
42     9210        71
43    32648      6221
44     3946       295
45    11107       212
46    22303       700
47     3872        16
48    65854      2442
49    14303       398

In [94]:
result = df[df["views"]==df["views"].max()][["title","views"]] #en çok görüntülenen video hangisi
print(result)

                                                   title      views
28412  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  424538912

In [95]:
result = df[df["views"]==df["views"].min()][["title","views"]] #en az görüntülenen video hangisi
print(result)

                                                  title  views
3477  Mountain Bikers Worried About Military Land Be...    851

In [96]:
result = df.sort_values("views",ascending=False).head(10)[["title","views"]] #en çok izlenen ilk 10 video
print(result)

                                                   title      views
28412  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  424538912
28212  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  413586699
28008  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  402650804
27811  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  392036878
27615  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  382401497
27424  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  372399338
27241  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  362111555
27052  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  349987176
26861  Nicky Jam x J. Balvin - X (EQUIS) | Video Ofic...  339629489
34460  Te Bote Remix - Casper, Nio García, Darell, Ni...  337621571

In [97]:
#kategoriye göre beğeni ortalamalarını sıralı şekilde giriniz
df.dropna(inplace=True)

LikeMeanByCategory = df.groupby("category_id")["likes"].mean()

result = LikeMeanByCategory.sort_values(ascending=False).head(20)

print(result)

category_id
10    272138.508943
29    271695.733333
24     81572.362012
23     78431.168490
28     61531.127413
1      57205.523089
22     46273.495899
43     41836.900000
17     39270.313057
20     39220.127517
27     38440.687090
15     28629.913858
26     26639.183091
25     25021.685714
2      24608.506944
19      9674.447917
Name: likes, dtype: float64

In [98]:
#kategoriye göre  yorum sayılarını yukarıdan aşağıya sıralayınız

x= df.groupby("category_id")["comment_count"].sum()
result =x.sort_values(ascending=False).head(20)
print(result)

category_id
10    293013140
24    116897440
22     18713149
23     16718816
1      15590011
17     10056226
25      9386604
29      7672790
26      7356296
20      6166994
28      4029065
27      1636903
15      1404698
2        505085
19       118177
43        80957
Name: comment_count, dtype: int64

In [99]:
#her kategoride kaç video var
print(df["category_id"].value_counts())

category_id
10    13754
24     9124
22     2926
1      2577
26     1928
17     1907
23     1828
20     1788
25     1225
15      534
28      518
27      457
2       144
19       96
29       90
43       20
Name: count, dtype: int64

In [100]:
# her videonun title uzunluğu bilgisini yeni bir kolonda gösterin

df["title_lenght"]= df["title"].str.len()
print(df[["title","title_lenght"]])

                                                   title  title_lenght
0          John Lewis Christmas Ad 2017 - #MozTheMonster            45
1              Taylor Swift: …Ready for It? (Live) - SNL            41
2             Eminem - Walk On Water (Audio) ft. Beyoncé            42
3      Goals from Salford City vs Class of 92 and Fri...            76
4      Dashcam captures truck's near miss with child ...            55
...                                                  ...           ...
38911  Enrique Iglesias - MOVE TO MIAMI (Official Vid...            61
38912  Jacob Sartorius - Up With It (Official Music V...            51
38913                 Anne-Marie - 2002 [Official Video]            34
38914  Eleni Foureira - Fuego - Cyprus - LIVE - First...            75
38915  KYLE - Ikuyo feat.  2 Chainz & Sophia Black [A...            51

[38916 rows x 2 columns]

In [102]:
#her video için kullanılan tag sayısını yeni kolonda gösterin

df["tag_count"] = df["tags"].apply(lambda x: len(x.split("|")))
print(df[["tags","tag_count"]])

                                                    tags  tag_count
0      christmas|"john lewis christmas"|"john lewis"|...          9
1      SNL|"Saturday Night Live"|"SNL Season 43"|"Epi...         36
2      Eminem|"Walk"|"On"|"Water"|"Aftermath/Shady/In...          6
3      Salford City FC|"Salford City"|"Salford"|"Clas...          9
4                                                 [none]          1
...                                                  ...        ...
38911  Enrique Iglesias feat. Pitbull|"MOVE TO MIAMI"...          4
38912  jacob sartorius|"jacob"|"up with it"|"jacob sa...         41
38913  anne|"marie"|"anne-marie"|"2002"|"two thousand...         17
38914  Eurovision Song Contest|"2018"|"Lisbon"|"Cypru...          8
38915  Kyle|"SuperDuperKyle"|"Ikuyo"|"2 Chainz"|"Soph...         18

[38916 rows x 2 columns]

In [103]:
#en populer videoları listeleyin(like/dislike) oranına göre

def likedislikeoranhesapla(dataset):
    likesList = list(dataset["likes"])
    dislikesList = list(dataset["dislikes"])

    liste = list(zip(likesList,dislikesList))

    oranListesi = []

    for like,dislike  in liste: 
        if (like + dislike) == 0:
            oranListesi.append(0)
        else:
            oranListesi.append(like/(like+dislike))

    return oranListesi

df["beğeni_orani"] = likedislikeoranhesapla(df)

print(df.sort_values("beğeni_orani",ascending=False)[["title","likes","dislikes","beğeni_orani"]])

                                                   title  likes  dislikes  \
36631         Kris Wu – Like That (Official Music Video)  57544         0
7088      HIGHLIGHTS: MK Dons U18s 1-0 Cardiff City U18s     30         0
5361         QUIZ : Name the Trail : A Christmas Cracker      2         0
12082    Lima Sopoaga Tribute🔥🔥||The Unsung Hero||💯 2017     50         0
5338   Bohemian Rhapsody (2018) - Scene Bohemian Rhap...     71         0
...                                                  ...    ...       ...
21547                                    To Our Daughter      0         0
22661                      【公式】「劇場版ポケットモンスター みんなの物語」予告編1      0         0
24920                    映画『BLEACH』特報【HD】2018年7月20日（金）公開      0         0
14864                             Altwork 1 Minute Video      0         0
4465                      The New Snapchat in 60 Seconds      0         0

       beğeni_orani
36631           1.0
7088            1.0
5361            1.0
12082           1.0
5338            1.0
...             ...
21547           0.0
22661           0.0
24920           0.0
14864           0.0
4465            0.0

[38916 rows x 4 columns]